@{
    ViewBag.Title = "En Construcción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <center>
        <h2><i class="fa fa-puzzle-piece"></i> Página en construcción <i class="fa fa-puzzle-piece"></i> </h2>
        <br />
        <img src="~/Content/Images/circunvalacion_norte.jpg" />
    </center>
</div>

<a href="javascript:history.back()" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Regresar</a>
