@model SIRH.Web.ViewModels.FormularioCalificacionVM
@{
    ViewBag.Title = "Calificar";
    Layout = "~/Views/Shared/Calificacion.cshtml";
}

<div id="formularioC" class="jumbotron">
    <center>
        <h4 class="display-4">FORMULARIO PARA LA EVALUACIÓN DEL DESEMPEÑO</h4>
        <h4 class="display-5">MINISTERIO DE OBRAS PÚBLICAS Y TRANSPORTES</h4>
        <br />
        <div class="card">
            <div class="card-header text-left">
                <strong>Parámetros de Formulario</strong>
            </div>
            @using (Ajax.BeginForm("Ratificar", "Calificacion", new AjaxOptions { UpdateTargetId = "detalle", HttpMethod = "POST" }))
            {
                <div class="card-body">

                    <div class="form-group row">
                        <label for="ced" class="col-sm-3 col-form-label">Funcionario:</label>
                        <div class="col-sm-6">
                            @*<input type="text" name="cedula" value="" id="cedula" hidden="hidden" class="form-control" oninput="check_text(this);" placeholder="Cédula" pattern="[0-9]{10}" />*@
                            @Html.HiddenFor(model => model.CedulaBuscar, new { @id = "cedula", name = "cedula", @class = "form-control text-center", @readonly = "readonly" })
                            @Html.DropDownListFor(model => model.FuncionarioSeleccionado, Model.Funcionarios, "Seleccionar Funcionario", new { @id = "idFuncionario", @class = "btn btn-secondary dropdown-toggle form-control", @onchange = "MostrarDatos(this.value)" })
                        </div>
                        <button id="BuscarEv" type="submit" class="btn btn-primary float-right" name="BuscarEv" value="BuscarEv">Buscar Evaluación</button>
                    </div>
                    <div id="preloader" name="preloader" class="loader" hidden></div>
                    <br />
                </div>
            }
        </div>
     </center>
</div>

<div id="detalle">
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
<script src="~/Scripts/Pages/FuncionesCalificacion.js"></script>