<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <client />
    <bindings>
      <basicHttpBinding>
        <binding name="maxBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsMaxBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="SIRH.Servicios.CPerfilUsuarioServiceBehavior"
        name="SIRH.Servicios.CPerfilUsuarioService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsMaxBinding"
          contract="SIRH.Servicios.ICPerfilUsuarioService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CPerfilUsuarioService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SIRH.Servicios.CFuncionarioServiceBehavior"
        name="SIRH.Servicios.CFuncionarioService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsMaxBinding"
          contract="SIRH.Servicios.ICFuncionarioService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CFuncionarioService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SIRH.Servicios.CPuestoServiceBehavior"
        name="SIRH.Servicios.CPuestoService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsMaxBinding"
          contract="SIRH.Servicios.ICPuestoService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CPuestoService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SIRH.Servicios.PerfilServiceBehavior"
        name="SIRH.Servicios.PerfilService">
        <endpoint address="" binding="wsHttpBinding" contract="SIRH.Servicios.IPerfilService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/PerfilService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SIRH.Servicios.CNombramientoServiceBehavior"
        name="SIRH.Servicios.CNombramientoService">
        <endpoint address="" binding="wsHttpBinding" contract="SIRH.Servicios.ICNombramientoService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CNombramientoService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SIRH.Servicios.CRegistroTEServiceBehavior"
        name="SIRH.Servicios.CRegistroTEService">
        <endpoint address="" binding="wsHttpBinding" contract="SIRH.Servicios.ICRegistroTEService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CRegistroTEService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SIRH.Servicios.CCaucionesServiceBehavior"
        name="SIRH.Servicios.CCaucionesService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsMaxBinding"
          contract="SIRH.Servicios.ICCaucionesService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CCaucionesService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SIRH.Servicios.CTipoJornadaServiceBehavior"
        name="SIRH.Servicios.CTipoJornadaService">
        <endpoint address="" binding="wsHttpBinding" contract="SIRH.Servicios.ICTipoJornadaService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CTipoJornadaService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SIRH.Servicios.CFormacionAcademicaServiceBehavior"
        name="SIRH.Servicios.CFormacionAcademicaService">
        <endpoint address="" binding="wsHttpBinding" contract="SIRH.Servicios.ICFormacionAcademicaService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CFormacionAcademicaService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SIRH.Servicios.CDesarraigoServiceBehavior"
        name="SIRH.Servicios.CDesarraigoService">
        <endpoint address="" binding="wsHttpBinding" contract="SIRH.Servicios.ICDesarraigoService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CDesarraigoService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SIRH.Servicios.CMarcacionServiceBehavior"
        name="SIRH.Servicios.CMarcacionService">
        <endpoint address="" binding="wsHttpBinding" contract="SIRH.Servicios.ICMarcacionService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CMarcacionService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SIRH.Servicios.CPagoFeriadoServiceBehavior"
        name="SIRH.Servicios.CPagoFeriadoService">
        <endpoint address="" binding="wsHttpBinding" contract="SIRH.Servicios.ICPagoFeriadoService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CPagoFeriadoService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SIRH.Servicios.CTipoIncapacidadServiceBehavior"
        name="SIRH.Servicios.CTipoIncapacidadService">
        <endpoint address="" binding="wsHttpBinding" contract="SIRH.Servicios.ICTipoIncapacidadService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CTipoIncapacidadService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SIRH.Servicios.CEntidadMedicaServiceBehavior"
        name="SIRH.Servicios.CEntidadMedicaService">
        <endpoint address="" binding="wsHttpBinding" contract="SIRH.Servicios.ICEntidadMedicaService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CEntidadMedicaService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SIRH.Servicios.CRegistroIncapacidadServiceBehavior"
        name="SIRH.Servicios.CRegistroIncapacidadService">
        <endpoint address="" binding="wsHttpBinding" contract="SIRH.Servicios.ICRegistroIncapacidadService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CRegistroIncapacidadService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SIRH.Servicios.CTipoAccionPersonalServiceBehavior"
        name="SIRH.Servicios.CTipoAccionPersonalService">
        <endpoint address="" binding="wsHttpBinding" contract="SIRH.Servicios.ICTipoAccionPersonalService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CTipoAccionPersonalService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SIRH.Servicios.CBorradorAccionPersonalServiceBehavior"
        name="SIRH.Servicios.CBorradorAccionPersonalService">
        <endpoint address="" binding="wsHttpBinding" contract="SIRH.Servicios.ICBorradorAccionPersonalService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CBorradorAccionPersonalService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SIRH.Servicios.CEstadoBorradorServiceBehavior"
        name="SIRH.Servicios.CEstadoBorradorService">
        <endpoint address="" binding="wsHttpBinding" contract="SIRH.Servicios.ICEstadoBorradorService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CEstadoBorradorService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SIRH.Servicios.CPerfilUsuarioServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="SIRH.Servicios.CFuncionarioServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SIRH.Servicios.CPuestoServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="SIRH.Servicios.PerfilServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SIRH.Servicios.CNombramientoServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="SIRH.Servicios.CRegistroTEServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SIRH.Servicios.CCaucionesServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SIRH.Servicios.CTipoJornadaServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SIRH.Servicios.CFormacionAcademicaServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SIRH.Servicios.CDesarraigoServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SIRH.Servicios.CMarcacionServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SIRH.Servicios.CPagoFeriadoServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SIRH.Servicios.CTipoIncapacidadServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SIRH.Servicios.CEntidadMedicaServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SIRH.Servicios.CRegistroIncapacidadServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SIRH.Servicios.CTipoAccionPersonalServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SIRH.Servicios.CBorradorAccionPersonalServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="SIRH.Servicios.CEstadoBorradorServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="6553500" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="SIRHEntities" connectionString="metadata=res://*/ModelSIRH.csdl|res://*/ModelSIRH.ssdl|res://*/ModelSIRH.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MSSQLDESA;Initial Catalog=SIRH;User ID=SIRH;Password=SiRh144;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EmpresasDataDB1Entities" connectionString="metadata=res://*/ModelMarcasReloj.csdl|res://*/ModelMarcasReloj.ssdl|res://*/ModelMarcasReloj.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MSSQL01;Initial Catalog=EmpresasDataDB1;Persist Security Info=True;User ID=userRH;Password=rhMopt2017;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MasterTASEntities" connectionString="metadata=res://*/ModelMasterTAS.csdl|res://*/ModelMasterTAS.ssdl|res://*/ModelMasterTAS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MSSQL01;Initial Catalog=MasterTAS;Persist Security Info=True;User ID=userRH;Password=rhMopt2017;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
