<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Mode" value="Daily"/>
    <!-- <add key ="Mode" value ="Interval"/>-->
    <!--<add key="IntervalMinutes" value="1" />-->
    <add key="ScheduledTime" value="02:00"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICCaucionesService" />
        <binding name="WSHttpBinding_ICMarcacionService" />
        <binding name="WSHttpBinding_ICDesarraigoService" />
        <binding name="WSHttpBinding_ICCaucionesService1" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WSHttpBinding_ICNombramientoService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CCaucionesService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICCaucionesService"
        contract="CaucionService.ICCaucionesService" name="WSHttpBinding_ICCaucionesService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CMarcacionService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICMarcacionService"
        contract="MarcacionesService.ICMarcacionService" name="WSHttpBinding_ICMarcacionService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/SIRH.Servicios/CDesarraigoService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICDesarraigoService"
        contract="DesarraigoService.ICDesarraigoService" name="WSHttpBinding_ICDesarraigoService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://sisrh.mopt.go.cr:85/CCaucionesService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICCaucionesService1"
        contract="CaucionProduccion.ICCaucionesService" name="WSHttpBinding_ICCaucionesService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://sisrh.mopt.go.cr:85/CNombramientoService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICNombramientoService"
        contract="NombramientoService.ICNombramientoService" name="WSHttpBinding_ICNombramientoService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="2147483647"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
