<div class="card border-danger">
    <div class="card-header"><strong>El formulario contiene los siguientes errores:</strong></div>
    <div class="card-body text-danger">
        @foreach (var modelError in Html.ViewData.ModelState.SelectMany(keyValuePair => keyValuePair.Value.Errors))
        {
            <div class="alert alert-danger" role="alert">
                <h5>@modelError.ErrorMessage</h5>
            </div>
        }
    </div>
</div>
