@model SIRH.Web.ViewModels.FormularioSalarioEscolarVM

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/PagoFeriado.cshtml";
}

@{
    if (Model.Error == null)
    {
        <div class="alert alert-success" role="alert">
            <i class="fa fa-check-circle d-inline" style="font-size:48px;"></i>
            <h4 class="d-inline"> El salario escolar se ha actualizado correctamente.</h4>
        </div>
        <br />

        <div class="card">
            <h5 class="card-header">Detalles</h5>
            <div class="card-body">
                <p>Porcentaje nuevo</p>
                @Html.Encode(String.Format("{0:F}", Model.CatalogoRemuneracion.PorcentajeRemuneracion))%
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <i class="fa fa-times-circle d-inline" style="font-size:48px;"></i>
            <h4 class="d-inline"> Ocurrió un error al momento de actualizar el salario escolar</h4>
        </div>

        <div class="card">
            <h5 class="card-header">Detalles</h5>
            <div class="card-body">
                <div>El salario escolar no pudo modificarse debido al siguiente error: </div>
                <br /><div><b>@*@Html.Encode(Model.Error.MensajeError)*@</b></div>
                <br /><div>Si conoce la causa de este error, por favor revise los datos que intentó almacenar e intentelo de nuevo.</div>
                <br /><div>De lo contrario le invitamos a ponerse en contacto con nuestro equipo de soporte, mediante el sistema de <a class="card-link" href="http://sisrh.mopt.go.cr:83/" target="_blank">Ayuda y Soporte</a></div>
            </div>
        </div>
    }
    <br />
    <a href="javascript:history.back()" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Regresar</a>
}
