
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/PagoFeriado.cshtml";
}

<div class="jumbotron">
    <center>
        <h1 class="display-4">Módulo control de pagos de días feriados</h1>
        <p class="lead">Bienvenido(a), @Session["Nombre_Completo"]</p>
        <hr class="my-4">
        <p>Para iniciar, seleccione alguna de las opciones del menú a su izquierda.</p>
        <p>En este módulo, usted puede:</p>
    </center>
</div>

<div class="container">
    <div class="row justify-content-center align-items-center">

        @if (Convert.ToBoolean(Session["Administrador_Global"])
                               || Convert.ToBoolean(Session["Administrador_" + Convert.ToInt32(SIRH.Web.Helpers.EModulosHelper.Cauciones)]))
        {
            <div class="col-sm-3 col-md-4">
                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Agregar Trámite Pago Feriado</div>
                    <div class="card-body text-secondary">
                        <center><img src="~/Content/Images/new.png" class="img-thumbnail" alt=""></center>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-4">
                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Modificar Salario Escolar</div>
                    <div class="card-body text-secondary">
                        <center><img src="~/Content/Images/edit_page.png" class="img-thumbnail" alt=""></center>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-4">
                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Agregar Asueto</div>
                    <div class="card-body text-secondary">
                        <center><img src="~/Content/Images/table_edit.png" class="img-thumbnail" alt=""></center>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-4">
                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Consultar Información</div>
                    <div class="card-body text-secondary">
                        <center><img src="~/Content/Images/look.png" class="img-thumbnail" alt=""></center>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-4">
                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Ver Archivos</div>
                    <div class="card-body text-secondary">
                        <center><img src="~/Content/Images/pdf_download.png" class="img-thumbnail" alt=""></center>
                    </div>
                </div>
            </div>
        }
        else
        {
            if (Convert.ToBoolean(Session["Permiso_Feriado_Operativo"]))
            {
                <div class="col-sm-3 col-md-4">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Agregar Trámite Pago Feriado</div>
                        <div class="card-body text-secondary">
                            <center><img src="~/Content/Images/new.png" class="img-thumbnail" alt=""></center>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-4">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Modificar Salario Escolar</div>
                        <div class="card-body text-secondary">
                            <center><img src="~/Content/Images/edit_page.png" class="img-thumbnail" alt=""></center>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-4">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Consultar Información</div>
                        <div class="card-body text-secondary">
                            <center><img src="~/Content/Images/look.png" class="img-thumbnail" alt=""></center>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-4">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Ver Archivos</div>
                        <div class="card-body text-secondary">
                            <center><img src="~/Content/Images/pdf_download.png" class="img-thumbnail" alt=""></center>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-3 col-md-4">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Consultar Información</div>
                        <div class="card-body text-secondary">
                            <center><img src="~/Content/Images/look.png" class="img-thumbnail" alt=""></center>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-4">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Ver Archivos</div>
                        <div class="card-body text-secondary">
                            <center><img src="~/Content/Images/pdf_download.png" class="img-thumbnail" alt=""></center>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

