<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SIRH.Web-20180821080714.mdf;Initial Catalog=aspnet-SIRH.Web-20180821080714;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <globalization uiCulture="es" culture="es-MX" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Web" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsConsultaPersonaSoap" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICertificar">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ICCaucionesService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="WSHttpBinding_ICDesarraigoService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ICMarcacionService1" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WSHttpBinding_ICMarcacionService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WSHttpBinding_ICNombramientoService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WSHttpBinding_ICRegistroTEService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WSHttpBinding_ICTipoJornadaService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WSHttpBinding_ICTipoAccionPersonalService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WSHttpBinding_ICEstadoBorradorService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WSHttpBinding_ICPagoFeriadoService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WSHttpBinding_ICCalificacionService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ICCalificacionService1" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WSHttpBinding_ICBorradorAccionPersonalService" />
        <binding name="WSHttpBinding_ICPuestoService1" />
        <binding name="WSHttpBinding_ICPuestoService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WSHttpBinding_ICFuncionarioService1" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WSHttpBinding_ICPerfilUsuarioService1" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WSHttpBinding_ICFormacionAcademicaService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ICFuncionarioService3" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647"/>
        <binding name="WSHttpBinding_ICPerfilUsuarioService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WSHttpBinding_ICViaticoCorridoGastoTransporteService"
          closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
          sendTimeout="00:01:00" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" useDefaultWebProxy="true"
          allowCookies="false" />
        <binding name="WSHttpBinding_ICCaucionesService1" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="WSHttpBinding_ICAccionPersonalService" />
        <binding name="WSHttpBinding_ICServiciosGeneralesService" />
        <binding name="WSHttpBinding_ICAccionPersonalService1" />
        <binding name="WSHttpBinding_ICTipoAccionPersonalService1" />
        <binding name="WSHttpBinding_ICEstadoBorradorService1" />
        <binding name="WSHttpBinding_ICRegistroIncapacidadService1" />
        <binding name="WSHttpBinding_ICViaticoCorridoGastoTransporteService1" />
        <binding name="WSHttpBinding_ICArchivoService" />
        <binding name="WSHttpBinding_ICComponentePresupuestarioService" />
        <binding name="WSHttpBinding_ICRegistroIncapacidadService" />
        <binding name="WSHttpBinding_ICFuncionarioService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647"/>
        <binding name="WSHttpBinding_ICArchivoService1" />
        <binding name="WSHttpBinding_ICCalificacionService2" />
        <binding name="WSHttpBinding_ICCaucionesService2" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ICCalificacionService3" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.153.6/psiws/wsConsultaPersona.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsConsultaPersonaSoap"
        contract="ServicioTSE.wsConsultaPersonaSoap" name="wsConsultaPersonaSoap" />
      <endpoint address="https://pjenlinea2.poder-judicial.go.cr/SACEJCertificacionesWCF/Certificar.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICertificar"
        contract="AntecedentesPenalesService.ICertificar" name="WSHttpBinding_ICertificar" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CDesarraigoService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICDesarraigoService"
        contract="DesarraigoLocal.ICDesarraigoService" name="WSHttpBinding_ICDesarraigoService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CMarcacionService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICMarcacionService1"
        contract="MarcacionesLocal.ICMarcacionService" name="WSHttpBinding_ICMarcacionService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CMarcacionService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICMarcacionService"
        contract="MarcacionLocal.ICMarcacionService" name="WSHttpBinding_ICMarcacionService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CNombramientoService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICNombramientoService"
        contract="NombramientoLocal.ICNombramientoService" name="WSHttpBinding_ICNombramientoService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CRegistroTEService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICRegistroTEService"
        contract="RegistroTELocal.ICRegistroTEService" name="WSHttpBinding_ICRegistroTEService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CTipoJornadaService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICTipoJornadaService"
        contract="TipoJornadaLocal.ICTipoJornadaService" name="WSHttpBinding_ICTipoJornadaService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CTipoAccionPersonalService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICTipoAccionPersonalService"
        contract="TipoAccionPersonalLocal.ICTipoAccionPersonalService"
        name="WSHttpBinding_ICTipoAccionPersonalService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CEstadoBorradorService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICEstadoBorradorService"
        contract="EstadoBorradorLocal.ICEstadoBorradorService" name="WSHttpBinding_ICEstadoBorradorService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CPagoFeriadoService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICPagoFeriadoService"
        contract="PagoFeriadoLocal.ICPagoFeriadoService" name="WSHttpBinding_ICPagoFeriadoService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CCalificacionService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICCalificacionService"
        contract="ServicioCalificacion.ICCalificacionService" name="WSHttpBinding_ICCalificacionService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CBorradorAccionPersonalService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICBorradorAccionPersonalService"
        contract="BorradorAccionPersonalLocal.ICBorradorAccionPersonalService"
        name="WSHttpBinding_ICBorradorAccionPersonalService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CPuestoService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICPuestoService1"
        contract="PuestoService.ICPuestoService" name="WSHttpBinding_ICPuestoService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CPuestoService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICPuestoService"
        contract="PuestoLocal.ICPuestoService" name="WSHttpBinding_ICPuestoService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CPerfilUsuarioService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICPerfilUsuarioService1"
        contract="PerfilUsuarioService.ICPerfilUsuarioService" name="WSHttpBinding_ICPerfilUsuarioService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CFormacionAcademicaService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICFormacionAcademicaService"
        contract="FormacionAcademicaLocal.ICFormacionAcademicaService"
        name="WSHttpBinding_ICFormacionAcademicaService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CFuncionarioService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICFuncionarioService"
        contract="FuncionarioLocal.ICFuncionarioService" name="WSHttpBinding_ICFuncionarioService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CPerfilUsuarioService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICPerfilUsuarioService"
        contract="PerfilUsuarioLocal.ICPerfilUsuarioService" name="WSHttpBinding_ICPerfilUsuarioService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CViaticoCorridoGastoTransporteService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICViaticoCorridoGastoTransporteService"
        contract="ViaticoGastosService.ICViaticoCorridoGastoTransporteService"
        name="WSHttpBinding_ICViaticoCorridoGastoTransporteService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CAccionPersonalService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICAccionPersonalService"
        contract="AccionPersonalLocal.ICAccionPersonalService" name="WSHttpBinding_ICAccionPersonalService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://sisrh.mopt.go.cr:85/CServiciosGeneralesService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICServiciosGeneralesService"
        contract="ServicioGeneral.ICServiciosGeneralesService" name="WSHttpBinding_ICServiciosGeneralesService">
        <identity>
          <dns value="http://sisrh.mopt.go.cr:85" />
        </identity>
      </endpoint>
      <endpoint address="http://sisrh.mopt.go.cr:85/CAccionPersonalService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICAccionPersonalService1"
        contract="AccionPersonalService.ICAccionPersonalService" name="WSHttpBinding_ICAccionPersonalService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://sisrh.mopt.go.cr:85/CTipoAccionPersonalService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICTipoAccionPersonalService1"
        contract="TipoAccionPersonalService.ICTipoAccionPersonalService"
        name="WSHttpBinding_ICTipoAccionPersonalService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://sisrh.mopt.go.cr:85/CEstadoBorradorService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICEstadoBorradorService1"
        contract="EstadoBorradorService.ICEstadoBorradorService" name="WSHttpBinding_ICEstadoBorradorService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://sisrh.mopt.go.cr:85/CRegistroIncapacidadService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICRegistroIncapacidadService1"
        contract="RegistroIncapacidadService.ICRegistroIncapacidadService"
        name="WSHttpBinding_ICRegistroIncapacidadService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CViaticoCorridoGastoTransporteService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICViaticoCorridoGastoTransporteService1"
        contract="ViaticoGastosLocal.ICViaticoCorridoGastoTransporteService"
        name="WSHttpBinding_ICViaticoCorridoGastoTransporteService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CArchivoService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICArchivoService"
        contract="ArchivoLocal.ICArchivoService" name="WSHttpBinding_ICArchivoService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CComponentePresupuestarioService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICComponentePresupuestarioService"
        contract="ComponentePresupuestarioLocal.ICComponentePresupuestarioService"
        name="WSHttpBinding_ICComponentePresupuestarioService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CRegistroIncapacidadService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICRegistroIncapacidadService"
        contract="RegistroIncapacidadLocal.ICRegistroIncapacidadService"
        name="WSHttpBinding_ICRegistroIncapacidadService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://sisrh.mopt.go.cr:85/CFuncionarioService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICFuncionarioService1"
        contract="FuncionarioService.ICFuncionarioService" name="WSHttpBinding_ICFuncionarioService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://sisrh.mopt.go.cr:85/CArchivoService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICArchivoService1"
        contract="ArchivoService.ICArchivoService" name="WSHttpBinding_ICArchivoService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CCalificacionService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICCalificacionService2"
        contract="CalificacionLocal.ICCalificacionService" name="WSHttpBinding_ICCalificacionService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/SIRH.Servicios/CCaucionesService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICCaucionesService2"
        contract="CaucionesLocal.ICCaucionesService" name="WSHttpBinding_ICCaucionesService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://sisrh.mopt.go.cr:85/CCalificacionService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICCalificacionService3"
        contract="CalificacionService.ICCalificacionService" name="WSHttpBinding_ICCalificacionService2">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://sisrh.mopt.go.cr:85/CCaucionesService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICCaucionesService"
        contract="CaucionService.ICCaucionesService" name="WSHttpBinding_ICCaucionesService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>