@model SIRH.Web.ViewModels.PerfilFuncionarioVM
@{
    ViewBag.Title = "Actualización de puesto";
    Layout = "~/Views/Shared/Vacantes.cshtml";
}

<center><h2>
    Actualización del puesto N° @Model.MovimientoPuesto.Puesto.CodPuesto
</h2></center>

