@model SIRH.Web.ViewModels.RebajoColectivoVM
@{
    ViewBag.Title = "AnularRebajo";
    Layout = "~/Views/Shared/Vacaciones.cshtml";
}

<div class="card">
    <div class="card-header alert-success">
        <h3>
            <i class="fa fa-check-circle"></i>  Anulado con exito!
        </h3>
    </div>
    <div class="card-body alert-light">
        <p class="card-text"></p>
        El rebajo colectivo con el n° de transacción @Model.numTransaccion fue anulado con exito.
    </div>
</div>
<br>

<a href="@Url.Action("RebajoColectivo", "Vacaciones")" class="btn btn-primary"> <i class="fa fa-arrow-circle-left"></i> Regresar</a>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

